.profile-card {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile-card-name {
  color: #333333;
  font-size: 14px;
  font-weight: 600;
}

.profile-card-company {
  color: #999999;
  font-size: 12px;
}
